In [ ]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis

In [8]:
dfc = pd.read_csv('toronto.csv')
dfc.head()

   M1A      Not assigned    Not assigned.1
0  M2A      Not assigned      Not assigned
1  M3A        North York         Parkwoods
2  M4A        North York  Victoria Village
3  M5A  Downtown Toronto      Harbourfront
4  M5A  Downtown Toronto       Regent Park

In [ ]:
import geocorder
lat_lng_coords = None
postal_code = 'M1B'
#coords= []
#for i,pcode in enumerate(dfc["Postcode"]):
while (lat_lng_coords is None):
    g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
    lat_lng_coords = g.latlng
    #coords.append( [lat_lng_coords[0],lat_lng_coords[1]] )
    #lat_lng_coords
latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]

## The above Code is not working , therefore I will use the CSV file provided

In [15]:
lat = pd.read_csv('http://cocl.us/Geospatial_data')
lat.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [16]:
dfc['Latitude'] = lat['Latitude']
dfc.head()

   M1A      Not assigned    Not assigned.1   Latitude
0  M2A      Not assigned      Not assigned  43.806686
1  M3A        North York         Parkwoods  43.784535
2  M4A        North York  Victoria Village  43.763573
3  M5A  Downtown Toronto      Harbourfront  43.770992
4  M5A  Downtown Toronto       Regent Park  43.773136

In [17]:
dfc['Longitude'] = lat['Longitude']
dfc.head()

   M1A      Not assigned    Not assigned.1   Latitude  Longitude
0  M2A      Not assigned      Not assigned  43.806686 -79.194353
1  M3A        North York         Parkwoods  43.784535 -79.160497
2  M4A        North York  Victoria Village  43.763573 -79.188711
3  M5A  Downtown Toronto      Harbourfront  43.770992 -79.216917
4  M5A  Downtown Toronto       Regent Park  43.773136 -79.239476

In [18]:
dfc.to_csv('geospat.csv', index = False)